body {
	background-color:#fff;
	background-image:url(../images/bgfade.png);
	background-position:top left;
	background-repeat:repeat-x;
}

h1 {
	color:#191970; /* midnight blue */
}

#wrapper {
	width:960px;
	margin:0 auto;
	padding:0;
}

#header {
	height:100px;
	padding:10px;
	margin:0 0 20px 0;
}

#nav {
	margin:0 0 60px 0;
	padding:0;
}

#nav ul {
	margin:0;
	padding:0;
}

#nav li {
	list-style:none;
	display:inline;
}

#nav li a {
	display:block;
	float:left;
	padding:5px 20px;
	color:#000;
	text-decoration:none;
	border-right:1px solid #191970; /* midnight blue */
}

#nav a:hover {
	background-color:#191970; /* midnight blue */
	color:#fff;
}

#content {
	margin:0;
	padding:20px;
}

a:link, a:visited {
	color:blue;
	text-decoration:none;
}

a:active, a:hover {
	color:blue;
	text-decoration:underline;
}





/* --// selectors exersize //--*/

#box2  {
	width:100px;
	height:100px;
	border:1px solid #ccc;
	background-color:#efefef;
	margin:10px;
	padding:5px;
}

.box3 {
	width:100px;
	height:100px;
	border:1px solid #ccc;
	background-color:#efefef;
	margin:10px;
	padding:5px;
}

#box4{
	width:100px;
	height:100px;
	border:1px solid #ccc;
	background-color:#efefef;
	margin:10px;
	padding:5px;
}

.box5 {
	color:blue;
}

form {
	width:50%;
	margin:20px 10px;
	padding:10px;
	border:1px solid #ccc;
}

input {
	padding:5px;
}

/*--// methods exersize //--*/

.container {
	margin:0 0 10px 0;
	padding:5px;
	height:190px;
	width:100%;
	border:0;
}

.pinky {
	width:100%;
	height:170px;
	padding:5px;
	background-color:pink;
	border:1px solid red;
}

.texty {
	font-family:Arial, Helvetica, Verdana;
	font-size:12pt;
	font-weight:bold;
	color:purple;
}

.box-header {
	width:250px;
	height:auto;
	padding:5px;
	margin:0;
	background-color:blue;
	color:white;
	border:1px solid blue;
	cursor:pointer;
}

.box-content {
	width:250px;
	height:75px;
	padding:5px;
	margin:0;
	background-color:white;
	color:blue;
	border:1px solid blue;
}

.box-animate {
	background:#98bf21; /* green */
	height:100px;
	width:100px;
	margin:6px;
}

.highlight {
	background-color: rgba(255,0,0,0.5);
	border: 1px solid red;
	padding: 5px;
}
